@use "variables" as *;

footer {
  .col-wide {
    background-color: $black;
    text-align: center;
    color: $white;
    padding: 50px 20px;
    box-shadow: 0 0 10px rgba(20, 15, 36, 0.3);
  }
  p {
    margin: 0;
  }
}
