@use "variables" as *;

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(20, 15, 36, 0.3);
}

.logo {
  display: inline-block;

  img {
    max-height: 50px;
    width: auto;
  }
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  a {
    font-family: $nav-font;
    color: $white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: $blue;
    }
  }
}

@media (max-width: 768px) {
  .page-header {
    text-align: center;
    display: block;
  }
  .logo,
  .nav {
    display: block;
    a {
      display: block;
      margin: 10px 0 0;
    }
  }
}
