@use "variables" as *;

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(20, 15, 36, 0.3);
  &.padding-bottom {
    padding-bottom: 40px;
  }
}

.content {
  background-color: $white;
  padding: 120px 50px;
  min-height: 60vh;
}
.demo-content {
  img[src$=".gif"] {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    display: block;
    margin: 0;
  }

  img[src$=".gif"].show {
    max-height: 500px; /* Adjust based on your largest GIF */
  }
}
#diagram-container {
  width: 100%;
  max-width: 1200px; /* or whatever maximum width you want */
  margin: 0 auto;
}

#diagram-container button {
  margin: 4px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  #diagram-container {
    padding: 10px;
  }
}
.warning-home {
  border: 1px solid #333;
  background: #d4f4fb;
  padding: 10px 25px;
}
