$white: #ffffff;
$black: #000000;
$off-black: #4a4a4a;
$off-white: #f6f6f6;
$gray: #666;
$blue: #73cbe5;
$dark-blue: #193eb5;
$light-blue: #abc6d1;
$purple: #2e3192;
$light-gray: #e9e9e9;

$body-font: "Source Sans Pro", sans-serif;
$header-font: "Lato", sans-serif;
$nav-font: "Lato", sans-serif;

$tutorial-step-border-color: #333;
$tutorial-step-overlay-bg: rgba(0, 0, 0, 0.8);
$tutorial-step-number-bg: rgba(0, 0, 0, 0.6);
$tutorial-step-light-bg: rgba(0, 0, 0, 0.05);
$tutorial-text-light: #fff;
$tutorial-text-light-hover: #ddd;
$tutorial-border-radius-lg: 10px;
$tutorial-border-radius-sm: 7px;
