---
layout: base.njk
permalink: /
title: "HIE of One"
description: "HIE of One offers an open-source, patient-controlled alternative to the standard electronic health record." 
image: "/images/logo.png"
datePublished: "2024-01-01"
---

<article>
    <div class="content-wrapper padding-bottom">
        <div class="home-content" id="post-bucket">
            <div class="content">
                {{ content | safe }}
            </div>
        </div>
    </div>
</article>